<h3>Operations</h3>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Scope</th>
        <th>Description</th>
        <th>Prototype</th>
    </tr>
    {% for operation in operations %}
        {% set granted = true %}
        {% for role in operation.roles if granted %}
            {% set granted = is_granted(role) %}
        {% endfor %}
        {% if granted %}
            {% include "SheppersRestDocBundle:Resource:include/operation.html.twig" with {'operation': operation } %}
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">
                <i>There are no operations defined for this resource</i>
            </td>
        </tr>
    {% endfor %}
</table>