<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TVAS Resource Model</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('/bundles/sheppersrestdoc/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">API Reference</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="{{ path('RestDoc_Resources_getResources') }}">Resources</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
{% block content %}{% endblock %}
</div>

</body>
</html>