<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TVAS Resource Model</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('/bundles/sheppersrestdoc/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% include "SheppersRestDocBundle:Default:resources.html.twig" with {'resources': resources } %}
        </div>
    </div>
</div>

</body>
</html>